#{$all-buttons} {
  align-items: center;
  background: none;
  color: inherit;
  display: flex;
  font-weight: normal;
  padding: 0.5em;

  &:hover,
  &:focus {
    background: rgba($base-font-color, (1/14));
    color: inherit;
  }

  &:disabled {
    background: none;
    color: rgba($base-font-color, 0.07);
    opacity: 1;
  }

  span {
    line-height: 1.5em;
  }

  svg {
    @include size(1.5em);
    margin: 0 0.5em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    path {
      fill: none;
      stroke: currentColor;
      stroke-width: 1px;
    }
  }
}

.icon-button {
  @include size($button-size);
  background: none;
  border-radius: 50%;
  color: $base-font-color;
  padding: 0.5em;

  &:hover,
  &:focus,
  &:active {
    background: none;
    color: inherit;
  }

  svg {
    display: block;

    path {
      fill: none;
      stroke: currentColor;
      stroke-width: 1px;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 -0.5em;

  #{$all-buttons} {
    &:not(:first-child) {
      margin-left: 0.5em;
    }
  }
}
