$main-menu-item-count: 4;

.page > header {
  align-items: center;
  border-bottom: $base-border;
  display: flex;
  flex: 0 0 calc(#{$sizing-increment} + 1px);
  flex-direction: row;
  padding: 0.5em $sizing-increment 0.5em 0.5em;

  h1 {
    @include ellipsis;
    flex: 1;
    font-size: 1.25em;
    font-weight: $light-font-weight;
    line-height: 2em;
    margin: 0 0 0 calc(var(--metric-keyline) - 3rem);
  }

  button,
  label[for="show-sidebar"] {
    @include size($button-size);
    background: none;
    border-radius: 50%;
    cursor: pointer;
    font-weight: $base-font-weight;
    margin: 0;
    outline: none;
    position: relative;
    padding: (($button-size - $icon-size) / 2);

    path {
      stroke: $secondary-font-color;
      stroke-linecap: square;
      stroke-width: 1px;
    }
  }
}
