body {
  overflow: hidden;

  --metric-keyline: 4.5rem;

  @include media($medium-screen) {
    --metric-keyline: 16rem;
  }
}

main {
  transition: transform $slow-duration $base-timing;
  @include position(fixed, 0 0 0 0);

  .page {
    @include position(fixed, 0 0 0 0);
    background: $base-background-color;
    display: flex;
    flex-direction: column;
  }
}

.infinitely-scrollable {
  flex: 1;
  position: relative;
}

.stackable {
  transition: transform $slow-duration $base-timing;

  .stackable {
    transform: translateX(100%);
  }

  &.parent {
    transform: translateX(-100%);
  }

  .parent &.parent {
    transform: translateX(0%);
  }
}
