body {
  overflow: hidden;
}

.application {
  main {
    @include position(fixed, 0 0 0 0);
    background: $base-background-color;
    display: flex;
    flex-direction: column;
    transition: transform $medium-duration $base-timing;
  }
}

.infinitely-scrollable {
  flex: 1;
  position: relative;
}
