.member.page > header {
  padding-left: $sizing-increment;
  padding-right: $sizing-increment;

  h1 {
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

.member-list {
  ul {
    @include list;
  }

  a {
    align-items: center;
    color: $base-font-color;
    display: flex;
    padding: 0.5em 1em;
  }

  .avatar {
    color: $secondary-font-color;
    margin-right: 1.5em;
  }
}

.member-profile {
  @include media($medium-screen) {
    padding: 0 $keyline;
  }

  @include media($large-screen) {
    padding: 0 $keyline-large;
  }

  header {
    padding: 1em;

    .avatar {
      display: block;
      font-size: 4em;
      margin: 0 auto;

      .icon-avatar {
        color: $secondary-font-color;

        path {
          transform: none !important;
          stroke-width: 0.25px;
        }
      }
    }
  }
}
