#show-sidebar {
  display: none;
}

.sidebar {
  z-index: 100;

  nav {
    @include position(fixed, 0 null 0 0);
    background: $base-background-color;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.25);
    max-width: calc(100% - #{$sizing-increment});
    overflow-y: auto;
    padding: 0;
    transform: translateX(-110%);
    transition: transform $slow-duration $sharp-timing;
    width: $sizing-increment * 6;
    z-index: 100;
  }

  section {
    + section {
      border-top: $base-border;
    }

    h4 {
      color: $secondary-font-color;
      font-size: $small-font-size;
      font-weight: $base-font-weight;
      line-height: 1.5rem;
      margin: 0.5rem 0 0;
      padding: 0 1rem;
      text-transform: uppercase;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0.5rem 0;
  }

  a {
    align-items: center;
    color: $secondary-font-color;
    display: flex;
    flex-direction: row;

    .avatar,
    .icon {
      margin: 0.5em calc(#{$keyline} - 1em - #{$icon-size}) 0.5em 1em;
    }

    .avatar {
      @include size($icon-size);

      .icon-avatar {
        margin: 0;
      }

      .icon-admin {
        display: none;
      }
    }

    .title {
      @include ellipsis;
      flex: 1;

      &:first-child {
        margin-left: $keyline;
      }
    }
  }

  .shim {
    @include position(fixed, 0 0 0 0);
    background: rgba(0, 0, 0, 0.15);
    margin: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity $slow-duration $base-timing;
    z-index: 1;
  }

  #show-sidebar:checked {
    ~ nav {
      transform: translateX(0);
      transition-timing-function: $base-timing;
    }

    ~ .shim {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &.open ~ main {
    transform: translateX($sizing-increment * 3);
  }
}
